*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    margin-left: 10%;
    margin-right: 10%;
}

form{  
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 2%;
}

input{
    width: 220px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #757575;
    padding: 0 10px;
}

.btn-custom{
    color: #ffe9f4;
    padding: 10px;
    border-radius: 5px;
    border:none;
    background-color: palevioletred;
}

.btn-custom:hover{
    background-color: rgb(246, 74, 103);
    color: #000;
}

.btn-custom:active{
    background-color: #ffbdde;
    border: 1px solid #fff;
    color: #fff;
}

h2{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 2%;
}

.card{
    background-color: #ffbdde;
    border: 1px solid #ff5cae;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1%;
    margin-top: 20px;
    margin-bottom: 10px;
}

img{
    width: 200px;
    height: auto;
    background-color: #fff;
    border-radius: 50px;
}